body {
    font-family: Roboto;
    margin: 0;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}

#fjord {
    width: 400px;
}

img {
    width: 80px;
}

.header,
.front,
.footer {
    background: #1F2937;
}

.header {
    height: 48px;
    background-color: darkolivegreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
}

.front {
    display: flex;
}

.informations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
}

.recrutment {
    display: flex;
}

.blue-frame {
    padding: 50px;
}

.quote-block {
    background: #e5e7eb;
}

.info-header,
.quote-text {
    color: #1f2937;
    font-size: 36px;
}

.quote-text {
    font-weight: lighter;
    font-style: italic;

}

.info-header {
    font-weight: bolder;
}

.main {
    color: #f9faf8;
}

#big {
    font-size: 48px;
    font-weight: bolder;
}

#logo {
    font-size: 24px;
}

.secondary {
    color: #e5e7eb;
    font-size: 18px;
}

.recrutment {
    background: #3882f6;
}

