body {
    font-family: Roboto;
    margin: 0;
    display: flex;
    flex-direction: column;
    border: 0;
}

p {
    margin: 0;
}

img {
    width: 140px;
    object-fit: cover;
    border-radius: 12px;
}

.small-image {
    border-radius: 12px;
    border: 3px solid #3882f6;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
}

.header,
.front,
.footer {
    background: #1f2937;
    width: 100%;
}

.front {
    padding: 64px 0;
}

.quote {
    background: #e5e7eb;
    width: 100%;
}

.header-content,
.front-content,
.informations,
.quote-content,
.bottom {
    max-width: 900px;
    margin: auto;
}

.bottom {
    padding: 64px 0;
}

.front-content {
    gap: 32px;
}

.quote-content {
    max-width: 780px;
    margin: auto;
    padding: 96px 0;
    display: flex;
    flex-direction: column;
}

.header-content {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.front-content {
    display: flex;
}

.front-left,
.front-right {
    flex: 1;
}

.front-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.footer {
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
}

.informations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    margin-bottom: 96px;
    gap: 16px;
}

.recrutment-box {
    display: flex;
}

.quote-block {
    display: flex;
    flex-direction: column;
}

.info-header,
.quote-text {
    color: #1f2937;
    font-size: 36px;
}

.signature {
    align-self: flex-end;
    font-weight: bold;
}

.quote-text {
    font-weight: lighter;
    font-style: italic;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

#logo {
    font-size: 24px;
}

.main,
.secondary {
    color: #f9faf8;
}

.main {
    font-weight: bold;
}

.subtext {
    color: #1f2937;
    margin-top: 6px;
}

.text-box {
    display: flex;
    flex-direction: column;
}

.blue-box {
    background: #3882f6;
    padding: 32px 80px;
    display: flex;
    width: 800px;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
}

button {
    background: #3882f6;
    border: 1px solid white;
    border-radius: 8px;
    padding: 6px 24px;
    color: white;
}

#up {
    border: 0;
}